@media screen and (max-width: 576px) {


    .navbar-toggler {
        border: none;
        border-radius: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-nav{
        padding-bottom: 50px;
    }

    .nav-link {
        padding-left: 0;
        padding-top: 50px;
    }

    .navbar-collapse {
        padding-bottom: 50px;
    }

    .navbar-toggler-icon{
        background-image: url(../image/menu.png);
        width:30px;
        height:30px;
    }

    .navbar-toggler-icon.close-icon {
        background-image: url(../image/close.png);
    }

    .bg img {
        display: none;
    }

    .started-content{
        padding: 0;
    }

    .about-content{
        padding: 0;
        padding-bottom: 25px;
    }

    .about-box{
        padding: 30px;
    }

    .started {
        padding: 0;
    }

    .testimonial-content{
        padding: 30px;
    }

    .profile{
        padding: 0;
    }

    .subscribe{
        padding: 30px;
    }

    .newsletter-form input {
        max-width: 195px;
    }

    .newsletter-form .btn{
        max-width: 105px;
    }



    .line{
        height: 1px;
        border-left: 265px solid #6D6E76;
        margin: 30px 0;
    }

    .social-media .social-link {
        margin: 0 3px;
    }

    .about-image{
        padding: 0;
    }

    .shape img{
        left: -65px;
    }

    .about-us-blog {
        padding-top: 40px;
    }

    .about-us-blog .shape img{
        top: 288px;
    }

    .about-us {
        margin: 0;
        padding: 0 10px;
    }

    .about-overview .horizontal-bar{
        display: none;
    }

    .about-overview .about-box{
        margin-top: 20px;
    }

    .about-overview{
        margin-top: 30px;
    }

    .blog-banner{
        padding: 40px 30px;
    }

    .blog-banner .btn {
        margin: 32px 0;
    }

    .blog-post h2{
        padding-bottom: 15px;
    }

    .blog-inner-header{
        padding-top: 50px;
    }

    .blog-inner-header h2{
        padding-top: 18px;
    }


}
